{% load static %}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
	<meta charset="utf-8">
	<title>INSTA BOOK</title>
	<link rel="stylesheet" type="text/css" href="{% static 'index.css' %}">
</head>
<body>



	<h1 class = "heading" style = "font-size:70px;margin-bottom:58px;">NITC-INSTA BOOK</h1>

	{% block content %}


	{% endblock %}



    <hr style = "background-color:yellow;height:1px;width:70%;">

	<section class = "ending" style = "height:200px;">

		<h1 style = "color:white;opacity:0.4;opacity:0.12;">DES: Please Use This Site For NIT'C Official Postings And Chatting, You Can Raise Any Questions for Any Of Your Problems With NIT'C, ANY People Can Comment For Genuine Reasons </h1>

		<h1 style = "margin-left:40%;color:white;opacity:0.4;opacity:0.12;">VIDYA SAGAR</h1>
		<h1 style = "margin-left:37%;color:white;opacity:0.4;opacity:0.12;">Update Your Details EveryDay</h1>
		
	</section>


</body>
</html>