<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>INSAT BOOK</title>
	<link rel="stylesheet" type="text/css" href="index.css">
</head>
<body>



	<h1 class = "heading">INSTA BOOK</h1>


	<section class = "userdetails">

	    <section style = "height:140px;width:140px;margin-left:7%;margin-top:9px;float:left;border-top-right-radius:40px;border-top-left-radius:40px;">
	    	<span>Your Profile picture</span>
		    <img src="img.png" style = "height:112px;width:120px;margin-left:4%;margin-top:9px;float:left;border-top-right-radius:40px;border-top-left-radius:40px;">
		</section>
        
        <section class = "username">
		    <h2 style = "font-size:45px;text-align:center;margin-top:-1px;">USER NAME</h2>
	    </section>

	    <a href=""><h1 style = "float:left;margin-left:1%;margin-top:90px;">Sign-UP</h1></a>
	    <a href=""><h1 style = "float:left;margin-left:20px;margin-top:90px;">LOG-OUT</h1></a>
	</section>

    <br>
    

	<section class = "status">

        <h2 style = "margin-left:38%;">Users Details</h2>

        <hr style = "height:1px;background-color:black">

		<section class = "status-user">
			
		</section>

		<section class = "status-user">
			
		</section>

		<section class = "status-user">
			
		</section>

		<section class = "status-user">
			
		</section>
		
	</section>

	<hr style = "height:1px;background-color:black">




	<section style = "width:80%;margin-left:10%;background-color:#CDE2B8;margin-top:-25px;border-radius:25px;">
		<h1 style = "text-align:center;font-size:40px;color:green;margin-left:-80px;">Your Profile</h1>


		<section>
			<hr style = "background-color:yellow;height:1px;width:80%">

			<section style = "height:50px;width:150px;margin-left:40%;background-color:blue;">
				<button type = "submit" style = "height:50px;width:160px;">Upload Your Details</button>
			</section>

			<hr style = "background-color:yellow;height:1px;width:80%">
		</section>
		
		<section style = "margin-left:30px;">
			<h2>Name : User Name</h2>
			<h2>Caption: about ur info</h2>
            <img src="" style = "height:450px;width:95%;margin-left:30px;">
            <h2>Views: count</h2>

		</section>

		<hr style = "background-color:yellow;height:1px;width:80%">


        <h1 style = "text-align:center;font-size:180%;color:green;margin-left:-80px;">Friend You May Know</h1>

		<section style = "margin-left:30px;">

			<h2>Name : User Name</h2>
			<h2>Caption: about ur info</h2>
            <img src="" style = "height:450px;width:95%;margin-left:30px;">
            <h2>Views: count</h2>

		</section>

	</section>


    <hr style = "background-color:yellow;height:1px;width:70%;">

	<section class = "ending">

		<h1 style = "margin-left:40%;color:white;opacity:0.4;">VIDYA SAGAR</h1>
		
	</section>


</body>
</html>